* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", Courier New, Courier, monospace;
  color: #473010;
  font-size: 1.1em;
  background-color: #efbf4f;
  font-weight: normal;
}

.page {
  height: auto;
  min-height: 100%;
  margin: 0 auto -2em; /* for the footer */
  background-image: url("./images/honeycomb_light.png");
  background-repeat: repeat;
  background-size: 500px;
  background-position: center;
}

.content {
  padding: 2em 0 4em; /* leaves room for footer */
  width: 90%;
  margin: 0 auto;
  max-width: 650px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
  font-family: "Roboto Slab", Courier New, Courier, monospace;
  font-weight: normal;
}

h1, h2, h3, {text-align: center; padding: 0 0 .25em;}

h2 {
  font-size: 1em;
  padding: 0 0 .25em;
}

p {
  line-height: 1.25em;
  padding: .25em 0 .5em;
  font-weight: lighter;
}

.tagline {
  line-height: 1.25em;
  font-family: "Roboto Slab", Courier New, Courier, monospace;
  font-weight: normal;
  padding: 0 0 .25em;
  font-size: 1.2em;
}

blockquote {
  width: 90%;
  margin: 0 auto;
  padding: .25em 0;
  font-style: italic;
  font-size: .95em;
}

a {
  text-decoration: none;
}

.link {
  color: #753c00;
}

.link:hover {
  color: #845700;
}

.note {
  width: 80%;
  color: #845700;
  text-align: center;
  margin: .25em auto;
  padding: 10px 0;
  background-color: #e5a510;
} /* Maybe this could pop up on the screen and then move up/down out of the way? */

.image {
  max-width: 100%;
}

.banner, .intro, .dddemocracy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  } /* don't really get flex, tbh */ 

.playable { /* this is the "explorable" stuff */
  border: none;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.inside { /* for the in-the-hive bee simulations */
  padding: 40px;
  margin: .75em 0;
  /*overflow: none;
  background-image: url("./images/hexwindow.png");*/
}

.inside img {
  position: absolute;
  margin:-50px -15px 0;
  width: 100%;
  max-width: 600px;
  pointer-events:none;
}

#footer {
  width: 100%;
  margin: -2em auto 0; /* places footer into content */
  height: 1em;
  padding: .5em 0;
  text-align: center;
  color: #ffcd51;
  background-color: #ce9102;
  overflow: hidden;
  font-weight: lighter;
}
