html {
  /* position: relative;
  min-height: 100%; */
}

body {
  margin: 0;
  padding: 0;
  font-family: Courier New, Courier6, monospace;
  color: #fff;
  background-color: #865923;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
